  @-webkit-keyframes pulsatecolor {
      0% {
          color: #F66
          }
      33% {
          color: #6F6
          }
      66% {
          color: #66F
          }
      100% {
          color: #F66
          }
      }
  @-webkit-keyframes pulsatecolorgreen {
      0% {
          color: #484
          }
      50% {
          color: #4c4
          }
      100% {
          color: #484
          }
      }
  @-webkit-keyframes pulsatecolorred {
      0% {
          color: #844
          }
      50% {
          color: #c44
          }
      100% {
          color: #844
          }
      }
  @-webkit-keyframes pulsateoutline {
      0% {
          outline-color: #F66
          }
      33% {
          outline-color: #6F6
          }
      66% {
          outline-color: #66F
          }
      100% {
          outline-color: #F66
          }
      }
  @-webkit-keyframes pulsateborder {
      0% {
          border-color: #F66
          }
      33% {
          border-color: #6F6
          }
      66% {
          border-color: #66F
          }
      100% {
          border-color: #F66
          }
      }
  @-webkit-keyframes pulsatebackground {
      0% {
          background-color: #F66
          }
      33% {
          background-color: #6F6
          }
      66% {
          background-color: #66F
          }
      100% {
          background-color: #F66
          }
      }
  @-webkit-keyframes pulsateoutlinechosen {
      0% {
          outline-color: #F66
          }
      33% {
          outline-color: #6F6
          }
      66% {
          outline-color: #66F
          }
      100% {
          outline-color: #F66
          }
      }
  @-webkit-keyframes pulsate {
      0% {
          color: #F66
          }
      33% {
          color: #6F6
          }
      66% {
          color: #66F
          }
      100% {
          color: #F66
          }
      }
  @-webkit-keyframes pulsateshadow {
      0% {
          color: #F66
          }
      33% {
          color: #6F6
          }
      66% {
          color: #66F
          }
      100% {
          color: #F66
          }
      }
  @-webkit-keyframes pulsatedropbox {
      0% {
          box-shadow: inset 0px 0px 25px 5px #F00
          }
      33% {
          box-shadow: inset 0px 0px 153px 40px  #0F0
          }
      66% {
          box-shadow: inset 0px 0px 25px 5px  #f00
          }
      100% {
          box-shadow: inset 0px 0px 25px 15px #ff0
          }
      }
  @-webkit-keyframes pulsatetrans {
      0% {
          box-shadow: inset 0px 0px 5px 5px #F00
          }
      33% {
          box-shadow: inset 0px 0px 5px 5px  #0F0
          }
      66% {
          box-shadow: inset 0px 0px 5px 5px  #f00
          }
      100% {
          box-shadow: inset 0px 0px 5px 5px #ff0
          }
      }
  @-webkit-keyframes pulsateload {
      0% {
          box-shadow: inset 0px 0px 1px 1px rgba(0,34,0,0)
          }
      50% {
            box-shadow: inset 0px 0px 1px 1px rgba(0,134,0,1)
          }
      100% {
            box-shadow: inset 0px 0px 1px 1px rgba(0,34,0,0)
          }
      }

html,body{
  xbackground-color:#111111;
  background-color:#000000;
  color:#cccccc;
}
h1,h2,h3,h4,h5,h6,p{
  color:#cccccc;
}
a:link{
  color:#567;
  text-decoration:none;
}
a:visited{
  color:#345;
}
a:hover{
  color:#678;
}
::-webkit-scrollbar              { background-color:#222; }
::-webkit-scrollbar-track:vertical { background-color:#0a0a0a;background:linear-gradient(to bottom,#0a0a0a,#000,#0a0a0a); }

::-webkit-scrollbar-track-piece  { background-color:#000; }

::-webkit-scrollbar-track-piece:vertical { background-color:#0a0a0a;background:linear-gradient(to bottom,#0a0a0a,#000,#0a0a0a); }
::-webkit-scrollbar-track-piece:vertical:hover { background-color:#112;background:linear-gradient(to bottom,#112,#000,#112); }
::-webkit-scrollbar-track-piece:horizontal { background-color:#0a0a0a;background:linear-gradient(to right,#0a0a0a,#000,#0a0a0a); }
::-webkit-scrollbar-track-piece:horizontal:hover { background-color:#112;background:linear-gradient(to right,#112,#000,#112); }

::-webkit-scrollbar-button:vertical,
::-webkit-scrollbar-thumb:vertical        { background-color:#111;background:linear-gradient(to right,#000,#111,#000);}
::-webkit-scrollbar-button:vertical:hover,
::-webkit-scrollbar-thumb:vertical:hover  { background-color:#334;background:linear-gradient(to right,#222,#334,#222);}

::-webkit-scrollbar-button:horizontal,
::-webkit-scrollbar-thumb:horizontal      { background-color:#111;background:linear-gradient(to bottom,#000,#111,#000)}
::-webkit-scrollbar-button:horizontal:hover,
::-webkit-scrollbar-thumb:horizontal:hover{ background-color:#334;background:linear-gradient(to bottom,#222,#334,#222)}

::-webkit-scrollbar-corner       { background-color:#000; }
::-webkit-resizer                { background-color:#000; }
.ProjectName{
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	color: #cccccc;
}

.HeaderLine1{
	background-color: #222233;
	height: 4px;
	width: 100%;
}

.HeaderLine2{
	background-color: #111111;
	height: 1px;
	width: 100%;
}

.HeaderLine3{
	background-color: #222233;
	height: 1px;
	width: 100%;
}

.TabLine{
	background-color: #404040;
	height: 1px;
}

.SelectedTabColor{
	background-color: #F5F5F5;
	height: 24px;
	width: 32px;
}

.DeselectedTabColor{
	background-color: #B2B2B2;
	height: 24px;
	width: 32px;
}

.TabLine{
	background-color: #404040;
	height: 1px;
	width: 5px;
}

.SelectedTabColor{
	background-color: #F5F5F5;
	height: 1px;
}

.TableHeader{
	background-color: #222222;
	height: 20px;
}
.DecisionTableHeader {
	background: #E3DA4B;
	height: 20px;
}

.SubtableHeader{
	background-color: #222222;
	height: 20px;
}

.TableHeaderShadow{
	background-color: #808080;
	height: 1px;
}

.TableHeaderText{
	color: #888;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
  text-shadow: 3px 3px 2px #000;
}
.DecisionTableHeaderText {
	color: #808080;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
}
.DecisionTableRuleHeaderText {
	color: black;
	font-family: arial;
	font-size: 12px;
}
.DecisionTableConditionActionHeaderText {
	color: #C0C0C0;
	font-family: arial;
	font-size: 12px;
}

.TableCellSpaceHolder5Px{
	width: 5px;
}

.TableCellSpaceHolder10Px{
	width: 10px;
}

.TableCellSpaceHolder18Px{
	width: 18px;
}

.TableCellSpaceHolder20Px{
	width: 20px;
}

.TableCellSpaceHolder25Percent{
	width: 25%;
}

.TableCellSpaceHolder25Percent{
	width: 40%;
}

.TableCellSpaceHolder5PxTall{
	height: 5px;
}

.TableCellSpaceHolder1PxTall{
	height: 1px;
	width: 100%;
}

.CategoryItemLink{
	color: #aaaacc;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
  text-decoration:none;
}

.TableRow1{
	background-color: #111111;
	height: 22px;
}

.TableRow2{
	xbackground-color: #111123;
	background-color: #1c1c1c;
	height: 22px;
}

.TableFooter{
	background-color: #222233;
	height: 1px;
}

.TableHeaderLine{
	background-color: #111112;
	height: 0px;
  display:none;
}

.TableHeaderLine1{
	background-color: #111123;
	height: 1px;
  display:none;
}

.TableHeaderLine2{
	background-color: #222233;
	height: 1px;
  display:none;
}

.TableContent,
.TableContent table,
.MatrixVerticalColumnHeader_Span {
	color: #cccccc;
	font-family: arial;
	font-size: 12px;
}
.TableContent table, .TableContent table td {
	border: 1px solid black;
}

/*
 * Don't set font-size and font-family. Otherwise, the link will be different than other text
 *
	HTML report not generate links for glossary if it contain non-Eng char (DUC-901-93090)
	https://earth.space/#issueId=72268
*/
.ItemLink{
	color: #aaaacc;
  text-decoration:none;
	/*font-family: arial;
  font-size:small;
	font-size: 12px;*/
}

.HeaderText{
	color: #222;
	font-family: arial;
	font-weight: bold;
	font-size: 14px;
}

.PageTitle{
	color: #888;
	font-family: arial;
	font-weight: bold;
	font-size: 18px;
	border-radius:10px;
	border:1px solid #333333;
	display: inline-block;
	padding:10px;
	-webkit-margin-before: 3px;
	-webkit-margin-after: 3px;
}
p.PageTitle + *{
  /* margin-top:10px; */
}
p.PageTitle + p{
  padding-top:5px;
}

.PageTitleLink{
	color: #aaaacc;
	font-family: arial;
	font-weight: bold;
	font-size: 22px;
}

.Image{
	border: 1px solid #000000;
	padding: 5px, 5px, 5px, 5px;
}
#vplink td{
  color:#222222;
	font-family: arial;

}
.Category{
	color: #888;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;

  border-style:solid;
  padding:5px;
  border-color:#333333;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-width:1px 1px 0;
  display:inline;
  background-color: #222;
  text-shadow: 3px 3px 2px #000;
}

.FooterLine{
	background-color: #808080;
	height: 1px;
}

.PageParentTitle{
	xcolor: #aaaacc;
	color: #aaaacc;
	font-family: arial;
	font-size: 10px;
	xfont-weight: bold;
  text-decoration:none;
}

.TabIcon{
	border: none;
	margin-top: 3px;
}

.ProjectTitle1{
	font-family: arial;
	font-size: 28px;
	font-weight: bold;
}

.FoeIndex{
	color: #808080;
}
.FoeControl{
	color: #00B200;
}
.FoeControlSystem{
	color: #CA6400;
}


/**/
#header {
	position: relative;
	height: 32px;
	width: 150px;
}

#header ul {
	margin: 0px;
	padding-left: 5px;
	position: absolute;
	bottom: -1px;
	/* width: 150px; */
}

#header ul li{
	display: inline;
	list-style: none;
}

#header ul a, #header ul span {
	border: 1px solid #404040;
	width: 32px;
	height: 24px;
	float: left;
	margin: 0px 0px 0px 0px;
	text-align: center;
	margin-left: -1px;
}

#header ul a {
	xbackground-color: #B2B2B2;
	background-color: #222222;
	/* border-top-left-radius: 2px; */
}

#header ul span {
	/* border-bottom: 1px solid #F5F5F5; */
	/* background-color: #F5F5F5; */
}

/**/
.PopupMenuRowSelected{
	color: #FFFFFF;
	background-color: #223;
	height: 22px;
	font-family: arial;
  font-size: 12px;
  cursor: pointer;
}

.PopupMenuRowDeselected{
	color: #cccccc;
	background-color: #111111;
	height: 22px;
	font-family: arial;
	font-size: 12px;
  cursor: pointer;
}


/* for tooltip */
body div#toolTip { overflow: auto;position:absolute;min-width:200px;max-height:300px;background:#444;color:#ccc;border:3px double #1569BC;padding:3px;min-height:1em}
body div#toolTipConnector { overflow: auto;position:absolute;width:4px;border-left:1px solid #1569BC;border-right:1px solid #1569BC;}
body div#toolTipPin { overflow: auto;position:absolute;min-width:10px;height:3px;border-bottom:3px double #1569BC;border-left:3px double #1569BC;border-right:3px double #1569BC;}
body div#shadowArea { position:absolute;visibility:visible}
body div#toolTip p{margin-left:10px;}

/*
	MatrixVerticalColumnHeader's structure:
	 Cell > Div > Span > {Icon + Anchor}
*/
.MatrixVerticalColumnHeader_Div {
	/*float: right;*/
	position: relative;
	vertical-align: middle;
	/*width: 22px;*/
	/*border: 1px solid red;*/
}
.MatrixVerticalColumnHeader_Span {
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	display: block;

	/* IE can't rotate if no position:absolute*/
		position: absolute;

	bottom: 1px;
	right: -1px;
}
.MatrixHorizontalRowHeader_Anchor {
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}
.MatrixVerticalColumnHeader_Anchor {
	overflow: hidden;
	position: absolute;
	white-space: nowrap;

	background: white; /* IE using BasicImage makes text anti-aliasing that makes appearance blur, setting white background looks better */
	left: 22;
	top: 0;
}

.Documentation p {
  margin: 0;
}

ul.MinimizeBullet {
	padding-left: 0;
	margin: 0;
}
ul.MinimizeBullet li {
	list-style-position: inside;
}

/* Supports numbering in different level */
li {
  line-height: 1.8em;
}
.Documentation OL {
	counter-reset: item;
	list-style-stype: none;
}
.Documentation LI .InlineP {
	display: inline;
}
.Documentationx OL.decimal>LI:before {
	content: counters(item, ".", decimal) ". ";
	counter-increment: item;
}
.Documentation OL.lower_alpha>LI:before {
	content: counters(item, ".", lower-alpha) ". ";
	counter-increment: item;
}
.Documentation OL.upper_alpha>LI:before {
	content: counters(item, ".", upper-alpha) ". ";
	counter-increment: item;
}
.Documentation OL.lower_roman>LI:before {
	content: counters(item, ".", lower-roman) ". ";
	counter-increment: item;
}
.Documentation OL.upper_roman>LI:before {
	content: counters(item, ".", upper-roman) ". ";
	counter-increment: item;
}
.Documentationx UL.disc>LI:before {
	content: counters(item, ".", disc) " ";
	counter-increment: item;
}
.Documentation UL.circle>LI:before {
	content: counters(item, ".", circle) " ";
	counter-increment: item;
}
.Documentation UL.square>LI:before {
	content: counters(item, ".", square) " ";
	counter-increment: item;
}
#linkPopupMenuLayer{
  xfilter:invert(1);
  box-shadow:4px 4px 10px 2px #000;
}
#linkPopupMenuTable{
  background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=)!important;
  opacity: 0.95;
}
.TableContent{
  xbackground-color: #000;
  text-shadow: 3px 3px 3px #000;
}
.PageParentTitle,
body>p:not([class]){
  font-size:10px;
  font-family: monospace;
}
body>p:not([class]){
  margin-bottom: 20px;
  line-height: 19px;
}

body>p:not([class])>a{
  border: 1px solid #333;
  border-radius: 4px;
  padding: 1px 5px;
}
[id^="areadiagram_map_"]{
  margin-top:-10px;
}
#diagramDiv{
  margin-top:100px;
}
#HeaderDiv{
  position: fixed;
  z-index:8;
  background-color:#000000;
  display:block;
  width:100%;
  padding-bottom:10px;
  top: 0;
  left: 0px;
  padding-left: 1em;
  box-shadow: 0px 12px 12px #000;
}
#HeaderDiv>p:not([class]),
body>p:not([class]) {
  margin-bottom: 0px;
  /* line-height: 19px; */
}
.PageParentTitle,
#HeaderDiv>p:not([class]),
body>p:not([class]) {
  font-size: 10px;
  font-family: monospace;
}

select{
  background-color: #111;
  border-width: 0;
}
#vplink{
  filter: invert(1) hue-rotate(180deg);
}
.PageTitle>a{
  color:#000;
}
.md-code{
  font-size: 12px;
  color: #666;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 1px 5px;
  margin-left: -4px;
  margin-right: -4px;
}
.Documentationx ul.disc > li::before {
  content: counters(item, ".", disc) " ";
  counter-increment: item 1;
}
img[src="../images/icons/Ref.gif"]{
  cursor:alias;
}
img[src="../images/icons/Subdiagram.gif"]{
  cursor:alias;
}


#finder{
  font-size: 0.7em;
  background-color: black;
  border-width: 0;
  float: right;
  width: 100%;
  margin-right: 2px;
  color: #888;
  padding: 2px;
}
.ProjectName span{
  display:none;
}
.ProjectName + table{
  display:none;
}

body>.HeaderText{

}
  @-webkit-keyframes pulsateborder {
      0% {
          border-color: #F66
          }
      33% {
          border-color: #6F6
          }
      66% {
          border-color: #66F
          }
      100% {
          border-color: #F66
          }
      }
#spotlight_left,
#spotlight_top,
#spotlight_right,
#spotlight_bottom
  {

  -webkit-animation: pulsateborder 1000ms ease-out!important;
  -webkit-animation-iteration-count: infinite!important;

}
area:not([href]){
  cursor:default;
}

body .chosen-container .chosen-drop {
  background: #111;
  border-image-source: none;
  border-image-slice: none;
  border-image-width: none;
  border-image-outset: none;
  border-image-repeat: none;
  border-left: 1px solid #444;
  xborder-top: 1px solid #444;
  border-right: 1px solid #222;
  border-bottom: 1px solid #222;
  box-shadow: 3px 3px 4px #000;
}
body .chosen-container-single .chosen-single {
  background: #333;
  color: #888;
  border-top: 1px solid #444;
  border-left: 1px solid #444;
  border-right: 1px solid #222;
  border-bottom: 1px solid #222;
  box-shadow: none;
  text-shadow: 1px 1px 1px #000;
  outline: none;
}
body .chosen-container .search-choice .group-name,
body .chosen-container .chosen-single .group-name {
  color: #888;
  text-shadow: 1px 1px 1px #000;
}
body .chosen-container-single .chosen-default {
  color: #ccc;
}
body .chosen-container .chosen-results {
  text-shadow: 1px 1px 1px #000;
}
body .chosen-container .chosen-results li.group-result {
  color: #777;
}
body .chosen-container .chosen-results li.group-result em {
  color: #777;
}
body .chosen-container .chosen-results li.active-result em {
  color: #753;
  text-decoration: none;
  -webkit-animation: pulsatecolor 2000ms ease-out!important;
  -webkit-animation-iteration-count: infinite!important;
}
body .chosen-container .chosen-results li.active-result.highighted em {
  -webkit-animation: pulsatecolor 750ms ease-out!important;
  -webkit-animation-iteration-count: infinite!important;
}

body .chosen-rtl .chosen-search input[type="text"],
body .chosen-container-single .chosen-search input[type="text"],
body .chosen-container-single .chosen-single abbr,
body .chosen-container-single .chosen-single div b {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAAlCAQAAACn+wJeAAAB4UlEQVRIx+2XsWtTURTGrwouLQQDwYLFzT3yJBDoYoVvySQoKFShSHe7qAgqiMn9rcUibnVwEARBl0AgUIh/QXBxFIpKJHAhUBz0HQcf4U0xtZwu+r3l8t4758fHPe/jvhBcRIUuWbFuMKAWnEB9jEQWAk0SRt8LtMo+RmKdhDGiHrzEChOMHGPsiAkhBDbIMXKu+2KaJUfZwcsXD4RJrJFKKHaw6fVmRnmNT5ydC9TDSDRCIGOMMfh9u8pegRmzNKP8NUZvzu+oR6NY19mddqVVgG7MKL5SvHPrcJu3g/F2xvMqowKUOHMYUJXhrAa8Ku1j90/dVFFXxaypoYFqfzFR80h9mZKyENRUkskrgrSqfZmS1pVkGskvG7SiiUy5TGP5RpA2lMuUyzeC1Cw5yrwxSWtKrij1ZEpqhKBMY5kGXqCKeioiSHXtain817+k9gLLLD887ozhLl8xjGG86onZxuIe99jCsHjTCRMvYvF9+1QIIcTz8RuTzmkfP0+jdaYJHW9jXPYBvYj5/ZNlf06HxvgEYzoC8Tk5l1xAnXP8IHVam8faC3GTn3x5cMJr6q5h0fjI5+L4suU24PFCfMkHhvExHQyL20eQEfERhsVncdEfdYfvGK2jcPUOK/+A/QJb5yp50uoC6QAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
}
body .chosen-container-single .chosen-single div b {
  background-position:  0px 2px;
}
body .chosen-container-single .chosen-single abbr {
  background-position:  -42px 1px;
}
body .chosen-container-single .chosen-search input[type="text"] {
  background-color: #000!important;
  background-position:  100% -20px;
  color: #999;
  border-top: 1px solid #111;
  border-left: 1px solid #111;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
  text-shadow: 1px 1px 1px #000;
}
body .chosen-container-single .chosen-search input[type="text"]: focus {
  border-top: 1px solid #111;
  border-left: 1px solid #111;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
}
body .chosen-container .chosen-results {
  color: #666;
}
body .chosen-container .chosen-results li.disabled-result {
  color: #333;
}
body .chosen-container .chosen-results li.highlighted {
  background-image: none;
  background-color: #000;
  color: #999;
  text-shadow: 1px 1px 1px #000;
}
body .chosen-container .chosen-results li.result-selected {
  background-image: none;
  background-color: #112;
  color: #999;
  text-shadow: 1px 1px 1px #000;
}
body .chosen-container .chosen-results li.no-results {
  background: transparent;
  color: #777;
}
body .chosen-container-multi .chosen-choices {
  background: #333;
  background-color: #333;
  border-top: 1px solid #444;
  border-left: 1px solid #444;
  border-right: 1px solid #222;
  border-bottom: 1px solid #222;
}
body .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  color: #999;
}
body .chosen-container-multi .chosen-choices li.search-choice {
  background-color: #321;
  background-image: none;
  color: #666;
  box-shadow: none;
}
body .chosen-container-multi .chosen-choices li.search-choice-disabled {
  background-color: #111;
  background-image: none;
  color: #444;
  border: none;
}
body .chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #210;
}
body .chosen-container-multi .chosen-drop .result-selected {
  color: #ccc;
}
xbody .chosen-container-active .chosen-single {
  -webkit-animation: pulsateoutline 2000ms ease-out!important;
  -webkit-animation-iteration-count: infinite!important;
  outline-offset: 0px;
  outline-width: 2px;
  outline-style: inset;
  box-shadow: none;
  xoutline: -webkit-focus-ring-color auto 5px;
}
body .chosen-container-active.chosen-with-drop .chosen-single {
  background-image: none;
  border-top: 1px solid #444;
  border-left: 1px solid #444;
  border-right: 1px solid #222;
  border-bottom: 1px solid #222;
  box-shadow: none;
}
body .chosen-container-active .chosen-choices {
  border-top: 1px solid #444;
  border-left: 1px solid #444;
  border-right: 1px solid #222;
  border-bottom: 1px solid #222;
  box-shadow: none;
}
body .chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #888 !important;
}
body .chosen-rtl .chosen-search input[type="text"] {
  background-position: -30px -20px;
}

body .chosen-single {
  xopacity: 0;
  width: 100%;
}
body .chosen-container-single .chosen-search {
  xpadding: 0px;
  padding: 4px;
  background: #000;
  xbox-shadow: 2px 2px 3px 4px #000;
}
body .chosen-container .chosen-drop {
  margin-top: -1000px;
  opacity: 0;
  transition: margin-top 500ms, opacity 750ms;
}
body .chosen-container.chosen-with-drop .chosen-drop {
  margin-top: -1px;
  opacity: 1;
  transition: margin-top 500ms, opacity 750ms;
}
body .chosen-container-single .chosen-search input[type="text"] {
  border-radius: 3px;
  border: 1px solid #222;
}
body .chosen-container-single .chosen-search input[type="text"]:focus {
  -webkit-animation: pulsateborder 10s ease-out!important;
  -webkit-animation-iteration-count: infinite!important;
}


#yodizTag{
  position: absolute;
  margin-bottom: -10px;
  margin-top: 0px;
  xborder: 1px solid blue;
  right: 10px;
  min-height:18;
  min-width:34;
  background-image:url(http://mrobbinsassoc.com/images/icons/md/yodiz-34x18.png);
  background-size:cover;
  background-repeat:no-repeat;
}
#yodiz{
  xmargin-top:-500px;
  top:-489px;
  xtop:0px;
  left:0px;
  z-index:9;
  position:fixed;
  width:100%;
  height:488px;
  xborder:1px solid red;
  transition: 250ms;
}
#yodiz:hover{
  top:0px;
  width:100%;
  transition: 1s;
}
#yodizIframe{
  width:100%;
  height: 488px;
  margin-bottom:0px;
}
#xsk-messenger-button,
#sk-holder #sk-container{
  filter:invert(1) hue-rotate(180deg);
}

#sk-messenger-button>.messenger-button-icon>img{
  opacity:0;
}
#sk-holder #sk-messenger-button .messenger-button-icon{
  background:url(http://mrobbinsassoc.com/images/icons/md/icon-for-circle-200.png);
  background-size:cover;
  background-repeat:no-repeat;
}
