<h2 id="readme">README</h2>
<p><code>C:\_\keyprism3</code></p>
<ul>
<li><code>brain_uid</code> - <code>09335629-E824-3836-6E1A-8A30325D2C09</code></li>
<li><code>thought_id</code> - <code>2</code></li>
<li><code>webthought_id</code> - <code>2</code></li>
<li><code>thought_uid</code> - <code>8DD9562E-A35E-F4FA-06B4-8324540C5545</code></li>
<li><code>vp_url</code> - <code>keyprism3.vpp://shape/YcUAPVqGAqAAAhK3/U.GAPVqGAqAAAhLD</code></li>
<li><code>FmColorName</code> - <code>purple</code></li>
<li><code>ColorHex</code> - <code>#BE93E3</code></li>
<li><code>ColorRgb</code> - <code>190,147,227</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Ckeyprism%33"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-purple-48.png" /></a> <em>KeyPrism3 Project</em></p>
<p>KeyPrism is a dynamic cheatsheet for keyboard shortcuts. Keyboard information comes in various layouts and the transition between the layouts is animated so the user can better trace what the organization really is, thus enabling an information push from software into the human brain.</p>
<p>There is also a small <a href="http://mrobbinsassoc.com/demo/keyprism_vpw/">demo</a> of the concept.</p>
<h3 id="documentation-and-readme">Documentation and README</h3>
<p>This project also contains an outer project (the <code>Tie-in</code> - a work in progress) which is a documentation integration of <a href="https://webbrain.com/brainpage/brain/09335629-E824-3836-6E1A-8A30325D2C09">TheBrain</a>, <a href="http://mrobbinsassoc.com/projects/keyprism3/esdocs/">EsDocs</a>, <a href="http://mrobbinsassoc.com/projects/keyprism3/plato/">Plato</a>, <a href="https://app.yodiz.com/plan/pages/scrum-board.vz?cid=30887">Yodiz Issue Management</a>, and <a href="http://mrobbinsassoc.com/projects/keyprism3/vp/publish/">Visual Paradigm</a> (aka the <code>Tie-in</code>).</p>
<p>The README's are generated automatically using an Autoit3 script <a href="https://bitbucket.org/keyprism3/keyprism3/src/master/_tools/readme-folder-ini.au3"><code>_tools\readme-folder-ini.au3</code></a> which takes information in <code>Desktop.ini</code> files and creates the README for each folder.</p>
<p>Under windows, links on Local Item icons currently use <code>aip</code> protocol which you will not have, but such opens files locally. See <a href="https://bitbucket.org/keyprism3/keyprism3/src/master/_tools/aip.au3"><code>_tools/aip.au3</code></a> and <a href="https://bitbucket.org/keyprism3/keyprism3/src/master/_tools/aip.reg"><code>_tools/aip.reg</code></a>. <code>_tools/aip.au3</code> will have to be compiled to <code>aip.exe</code> via AutoIt3 (aka Right-Click <code>_tools/aip.au3</code>, select Compile), then change the <code>aip.exe</code> path in <code>aip.reg</code> before registering it by double clicking <code>aip.reg</code>.</p>
<p>Please use Chrome for the <code>Tie-in</code>. On Chrome, in order to get the <a href="http://mrobbinsassoc.com/projects/keyprism3/vp/publish/"><code>Tie-in</code></a> to work you will need the <a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo">Tampermonkey Extension</a> installed.</p>
<p><a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/">Firefox Greasmonkey Add-On</a> may also work, but is untested.</p>
<p>After you have a UserScripts extension installed (Tampermonkey or Greasemonkey), install the <a href="https://openuserjs.org/scripts/MarkRobbins/Keyprism3_WebBrain">Keyprism3 WebBrain UserScript</a> and the the <a href="https://openuserjs.org/scripts/MarkRobbins/Keyprism3_Yodiz">Keyprism3 Yodiz UserScript</a></p>
<h2 id="reporters">Reporters</h2>
<ul>
<li><p><a href="https://webbrain.com/brainpage/brain/09335629-E824-3836-6E1A-8A30325D2C09"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - WebBrain</p></li>
<li><p><a href="http://mrobbinsassoc.com/projects/keyprism3/esdoc/"><img src="http://mrobbinsassoc.com/images/icons/md/esdoc-16.png" /></a> - EsDocs</p></li>
<li><p><a href="http://mrobbinsassoc.com/projects/keyprism3/plato/"><img src="http://mrobbinsassoc.com/images/icons/md/plato-16.png" /></a> - Plato Complexity Report</p></li>
<li><p><a href="http://mrobbinsassoc.com/projects/keyprism3/vp/publish/"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - Visual Paradigm - Tie-in with WebBrain</p></li>
</ul>
<h2 id="follow-the-project">Follow the Project</h2>
<p>Issue Management is being done on Yodiz (also becoming part of the <code>Tie-in</code>) and a public viewer login is available with the username <code>mindprism@gmail.com</code> and a password of <code>public#1</code> -- login with these credentials at <a href="https://app.yodiz.com/">Yodiz App</a>. Please do not alter that account profile.</p>
<p>You may also be able to <a href="https://mrobbinsassocslack2keyprism3.herokuapp.com/">get an invitation</a> to the Slack room <code>#keyprism3</code> on <a href="https://mrobbinsassoc.slack.com/">mrobbinsassoc.slack.com</a> or <a href="https://mrobbinsassocslack.herokuapp.com/">a general invitation</a></p>
<p>If neither of those methods work, send me an email at <a href="mailto:mark.robbins@mrobbinsassoc.com">mark.robbins@mrobbinsassoc.com</a> to request an invitation.</p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FU.GAPVqGAqAAAhLD"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FU.GAPVqGAqAAAhLD"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/%38DD%39%35%36%32E-A%33%35E-F%34FA-%30%36B%34-%38%33%32%34%35%34%30C%35%35%34%35"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/keyprism3/keyprism3/src/master/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/09335629-E824-3836-6E1A-8A30325D2C09#-2"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/keyprism3/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/keyprism3/vp/publish/content/PackageDiagram_YcUAPVqGAqAAAhK3.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.assets%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%38%26webthought_id%3D%38%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FyOFsx%31qGAqAAAgq_%2FuDwcx%31qGAqAAAgsh%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2F%39xCKvVqGAqAAAg%30x"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-white-light-16.png" /></a> <code>.assets</code> - Various Assets for tools and site</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.git%5CDesktop.ini%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%30%26webthought_id%3D%31%30%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FB%32eNvVqGAqAAAg%37V"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-16.png" /></a><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.git%5CDesktop.ini%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%30%26webthought_id%3D%31%30%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FB%32eNvVqGAqAAAg%37V"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>.git</code> - Wrapper Repository</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.idea%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%31%26webthought_id%3D%31%31%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2F%37GXtvVqGAqAAAg%37."><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-cyan-dark-16.png" /></a> <code>.idea</code> - Webstorm Configuration</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.scrap%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%32%26webthought_id%3D%31%32%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FbhzjvVqGAqAAAg.P"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-16.png" /></a> <code>.scrap</code> - Developer Scrap Area</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.temp%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%33%26webthought_id%3D%31%33%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2F%38dSbvVqGAqAAAhA_"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> <code>.temp</code> - Developer Temp Area</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.types%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%34%26webthought_id%3D%31%34%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FbTY%37vVqGAqAAAhBs"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-blue-dark-16.png" /></a> <code>.types</code> - Types Local to project for Webstorm</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.webstorm%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%35%26webthought_id%3D%31%35%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FoHD%37vVqGAqAAAhCT"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-blue-dark-16.png" /></a> <code>.webstorm</code> - Global Types for Webstorm</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._esdoc%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%33%26webthought_id%3D%33%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2F%34cdvCNqGAqAAAgtu%2Fhi%30fCNqGAqAAAguy%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FxNZ%36PVqGAqAAAhy%30"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> <code>._esdoc</code> - EsDoc Output for KeyPrism3</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._plato%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%34%26webthought_id%3D%34%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2Fk.%35%38SNqGAqAAAhXC%2F%38MN%38SNqGAqAAAhXO%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2Fo%34jOPVqGAqAAAh%30C"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> <code>._plato</code> - Plato Report Output</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C._vphtml%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%35%26webthought_id%3D%35%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FggwpPVqGAqAAAh%30%34"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> <code>._vphtml</code> - Visual Paradigm Output Home</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5Capp%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%39%26webthought_id%3D%31%39%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2Ft%34sSi%31qGAqAAAgeS"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-purple-dark-16.png" /></a> <code>app</code> - Main Application</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C_docs%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%36%26webthought_id%3D%31%36%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FWfXHvVqGAqAAAhDU"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-yellow-dark-16.png" /></a> <code>_docs</code> - Project Readmes</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C_extra%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%37%26webthought_id%3D%31%37%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FNLB%33vVqGAqAAAhFG"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-yellow-16.png" /></a> <code>_extra</code></li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C_tools%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%38%26webthought_id%3D%31%38%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FMGNsi%31qGAqAAAgdl"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> <code>_tools</code> - Various Batch Tools</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C%21i.txt"><img src="http://mrobbinsassoc.com/images/icons/md/_txt-16.png" /></a> <code>!i.txt</code> - Information Pad, links to <code>_extra/_i/</code> and <code>.scrap/_extra/_i/</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C%21t.txt"><img src="http://mrobbinsassoc.com/images/icons/md/_txt-16.png" /></a> <code>!t.txt</code> - Taskpad</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C%21w.txt"><img src="http://mrobbinsassoc.com/images/icons/md/_txt-16.png" /></a> <code>!w.txt</code> - Scratchpad</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.gitignore"><img src="http://mrobbinsassoc.com/images/icons/md/_gitignore-16.png" /></a> <code>.gitignore</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5Ckeyprism%33.url"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>keyprism3.url</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5Ckeyprism%33_vpw.vpj"><img src="http://mrobbinsassoc.com/images/icons/md/_vpj-16.png" /></a> <code>keyprism3_vpw.vpj</code> - SlickEdit Project</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5Ckeyprism%33_vpw.vpw"><img src="http://mrobbinsassoc.com/images/icons/md/_vpw-16.png" /></a> <code>keyprism3_vpw.vpw</code> - SlickEdit Workspace</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/_md-16.png" /></a> <code>README.md</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5CRMF.md"><img src="http://mrobbinsassoc.com/images/icons/md/_md-16.png" /></a> <code>RMF.md</code></li>
</ul>
