$app_background:"images/app-background.png";
$footer_h: 3em;
#mainlayout{
  background-image: url($app_background);
  //min-height: 100vh;
  min-width:100%;
  min-height:100%;
  max-height: 100vh;
  //border:1px solid red;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
}
#content,
#mainfooter,
#mainheader{
  max-width:100vw;
}

#mainheader{
  flex-shrink: 0;
}
#mainfooter{
  position:absolute;
  bottom: 0;
  width:100%;
  max-height: $footer_h;
  min-height: $footer_h;
  flex-shrink: 0;
  padding: 1em;
  background-color: rgba(0,0,0,0.7);
  box-shadow:0 -6px 18px black;
}

#content{
  margin-bottom: $footer_h;
  flex-grow: 1;
  overflow: auto;
  padding: 1em;
}

