<h2 id="readme">README</h2>
<p><code>C:\_\keyprism3\.assets</code></p>
<ul>
<li><code>brain_uid</code> - <code>09335629-E824-3836-6E1A-8A30325D2C09</code></li>
<li><code>thought_id</code> - <code>8</code></li>
<li><code>webthought_id</code> - <code>8</code></li>
<li><code>thought_uid</code> - <code>070DDECA-2C65-450B-E2EA-965240B179A3</code></li>
<li><code>vp_url</code> - <code>keyprism3.vpp://shape/yOFsx1qGAqAAAgq_/uDwcx1qGAqAAAgsh</code></li>
<li><code>vp_url_overview</code> - <code>keyprism3.vpp://shape/YcUAPVqGAqAAAhK3/9xCKvVqGAqAAAg0x</code></li>
<li><code>FmColorName</code> - <code>white-light</code></li>
<li><code>ColorHex</code> - <code>#FDFDFD</code></li>
<li><code>ColorRgb</code> - <code>253,253,253</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.assets"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-white-light-48.png" /></a> <em>Various Assets for tools and site</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%32%26webthought_id%3D%32%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FU.GAPVqGAqAAAhLD"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-purple-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2FyOFsx%31qGAqAAAgq_%2FuDwcx%31qGAqAAAgsh"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://thoughtuid/%30%37%30DDECA-%32C%36%35-%34%35%30B-E%32EA-%39%36%35%32%34%30B%31%37%39A%33"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/keyprism3/keyprism3/src/master/.assets/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/09335629-E824-3836-6E1A-8A30325D2C09#-8"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/keyprism3/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/keyprism3/vp/publish/content/PackageDiagram_yOFsx1qGAqAAAgq_.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<ul>
<li><code>&lt; more-types&gt;</code></li>
</ul>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.assets%5C.webbrain%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%36%31%26webthought_id%3D%31%36%31%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FEin%36CNqGAqAAAgmt"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-16.png" /></a> <code>.webbrain</code> - Github Push Directory for WebBrain UserScript</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.assets%5C.yodiz%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%36%32%26webthought_id%3D%31%36%32%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FotKGCNqGAqAAAgnF"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-16.png" /></a> <code>.yodiz</code> - Github Push Directory for Yodiz UserScript</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%32%30%26webthought_id%3D%32%34%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FnEwRvVqGAqAAAg%31x"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-orange-light-16.png" /></a> <code>esdoc</code> - EsDoc enhancements, css and script</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cfonts%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%32%31%26webthought_id%3D%32%33%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2Fu%31TJvVqGAqAAAg%32%34"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-blue-dark-16.png" /></a> <code>fonts</code> - Font Assets</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cimages%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%32%32%26webthought_id%3D%32%31%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FbeCFvVqGAqAAAg%34E"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-green-dark-16.png" /></a> <code>images</code> - Image Assets, Originals</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cnode_modules%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%32%33%26webthought_id%3D%31%39%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2F%30MQlvVqGAqAAAg%34g"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-16.png" /></a> <code>node_modules</code> - see <code>/_tools/reset-nm.bat</code> :: Dummy Directory for preserving Icon</li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>test_files</code></li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cvisual_paradigm_publish%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%32%34%26webthought_id%3D%32%34%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FY%36HlvVqGAqAAAg%34%30"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> <code>visual_paradigm_publish</code> - Visual Paradigm Publish Overlay Assets</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cwebbrain%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%36%33%26webthought_id%3D%31%36%33%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2F%34%36rGCNqGAqAAAgnq"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-16.png" /></a> <code>webbrain</code> - Source Files for Github Push Directory for WebBrain UserScript</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cyodiz%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%31%36%34%26webthought_id%3D%31%36%34%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FDJnGCNqGAqAAAgn%30"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-16.png" /></a> <code>yodiz</code> - Source Files for Github Push Directory for Yodiz UserScript</li>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.assets%5C_crushed%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%39%26webthought_id%3D%39%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2F%38FWqvVqGAqAAAg%31b"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-16.png" /></a> <code>_crushed</code> - temp crush folder</li>
</ul>
<h3 id="files">Files</h3>
<p><em>none</em></p>
