<head>
  <meta charset="utf-8">
  <title>KeyPrism3</title>
  <meta name="description" content="Dynamic Keyboard Cheatsheet.">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1" />
  <meta name="application-name" content="KeyPrism3"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>