
$navbg:indigo;
$li_bottom:lighten(indigo,50%);
$header_nav_logo:"images/header-nav-logo-294x64.png";

#header-nav{
  background: linear-gradient(to right,black 294px, rgba(0,0,0,0.0));
  box-shadow: 0 6px 18px black;
  .nav-flex{
    display:flex;
    justify-content: space-between;
    > .flex-item-left{
      flex:none;
      min-width: 294px;
    }
    > .flex-item-center{
      flex-shrink:1;
      flex-grow:1;
      > .page-title{
        font-size: 3.6em;
        margin-top: 0.05em;
        margin-bottom: 0;
        font-weight: bold;
        color: black;
        text-shadow: 0 0 1px #666;
      }
    }
    > .flex-item-right{
      flex:none;
    }
  }
}



#nav-mobile{
  margin-right: 20px;
}



#header-nav-logo-link{
  background-image: url($header_nav_logo);
  min-width: 294px;
}

#header-nav-logo-link {
  animation: header-nav-logo-link-saturater 10s linear infinite;
  //filter: saturate(0.2);
}

@keyframes header-nav-logo-link-saturater {
  0%   {
    filter:saturate(0.8);
  }
  50%   {
    filter:saturate(3);
  }
  100% {
    filter: saturate(0.8);
  }
}

#shooter{
  min-height:2px;
  min-width:100%;
  //background-color:red;
  //height:12px;
  background: linear-gradient(-358deg, rgba(0,0,0,0) 48%, #0069b0 50%, rgba(0,0,0,0) 52%);
  background-size:1600% 1600%;
  animation: shooteranim 10s linear infinite;
}
@keyframes shooteranim {
  0%{
    background-position:100% 50%;
    filter: hue-rotate(0deg);
  }
  100%{
    background-position:0 51%;
    filter: hue-rotate(1800deg);
  }
}
