#xxx{
  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }
}


.RegisterForm{
  display: flex; flex-direction: column; flex-grow: 1;
  > div.col{
    display: flex; flex-direction: column; flex-grow: 1;
    background: linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(0,0,0,0.0));
    //margin-top:2em;
    border-top: 1px solid #222;
    border-left: 1px solid #111;
    //padding-top: 3em;
    //padding-bottom: 2em;
    min-height: 792px;
    max-height: 792px;
    box-shadow: 0 0 6px 3px black;
    > div.row{
      padding: 0.2em 0.9em;
    }
    > div.form-row {
      display: flex; flex-direction: column; flex-grow: 1;
      > form{
        display: flex; flex-direction: column; flex-grow: 0;
        > .row{
          flex-grow: 1;
          margin-bottom: 0.25em;
        }
        > .zxcvbn-row{
          display: flex; flex-direction: column; flex-grow: 1;
          > .ZxcvbnReport{
            display: flex; flex-direction: column; flex-grow: 1;
          }
        }
      }
    }
  }
  button{
    width:100%;
  }
  .button-row{
    margin-top:1em;
  }
  .fontAwesome.background{
    font-size: 17em;
    color: rgba(0,0,0,0.4);
  }
  .icon-background{
    pointer-events:none;
    position: absolute;
    margin-left: 15%;
  }
  meter{
    //height:0.4em;
    //width: calc(100% - 2em);
    //display:block;
    //margin-top:-0.88em;
    //position:relative;
    //-webkit-appearance: none;
    //-moz-appearance: none;
    //appearance: none;
  }
  meter::-webkit-meter-bar{
    background: linear-gradient(to bottom,rgb(0,0,0),rgb(20,20,20),rgb(0,0,0));
  }
  meter::-webkit-meter-optimum-value,
  meter::-webkit-meter-suboptimum-value,
  meter::-webkit-meter-even-less-good-value {
    transition: 1s width;
  }
  meter[value="1"]::-webkit-meter-optimum-value { background: linear-gradient(to right,black,red);}
  meter[value="2"]::-webkit-meter-optimum-value { background: linear-gradient(to right,black,red,orange);}
  meter[value="3"]::-webkit-meter-optimum-value { background: linear-gradient(to right,black,red,orange, yellow); }
  meter[value="4"]::-webkit-meter-optimum-value { background: linear-gradient(to right,black,red,orange, yellow, green); }
  meter[value="5"]::-webkit-meter-optimum-value { background: linear-gradient(to right,black,red,orange, yellow, green, blue); }

  //noinspection CssInvalidPseudoSelector
  meter[value="1"]::-moz-meter-bar { background: linear-gradient(to right,black,red); }
  //noinspection CssInvalidPseudoSelector
  meter[value="2"]::-moz-meter-bar { background: linear-gradient(to right,black,red,orange); }
  //noinspection CssInvalidPseudoSelector
  meter[value="3"]::-moz-meter-bar { background: linear-gradient(to right,black,red,orange, yellow); }
  //noinspection CssInvalidPseudoSelector
  meter[value="4"]::-moz-meter-bar { background: linear-gradient(to right,black,red,orange, yellow, green); }
  //noinspection CssInvalidPseudoSelector
  meter[value="5"]::-moz-meter-bar { background: linear-gradient(to right,black,red,orange, yellow, green, blue); }

  .capcha{
    > div{
      float:right;
      box-shadow:2px 2px 2px black;
      opacity: 0.3;
      transition: opacity 1500ms;
      position: absolute;
      margin-top:0.6em;
      margin-left: 88px;
      //margin-bottom: -0.3;
      &:hover{
        opacity: 0.7;
        transition: opacity 500ms;
      }
    }
  }
  .gravatar{
    position:absolute;
    margin-top:0.6em;

  }
}

@keyframes RegistrationForm-fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
