// e C:\Users\Administrator\AppData\Local\.meteor\packages\poetic_materialize-scss\1.97.6_1\web.browser\sass\components\_variables.scss
// e C:\!mark\_tool\keyprism3_vpw\_extra\_i\!i-materialize-variables.txt
//
//
// e C:\Users\Administrator\AppData\Local\.meteor\packages\poetic_materialize-scss\1.97.6_1\web.browser\sass\components\_color.scss
// e C:\!mark\_tool\keyprism3_vpw\_extra\_i\!i-materialize-colors.txt
// http://materializecss.com/color.html#palette
//
// http://materializecss.com/icons.html
/*
  Sizes:
  tiny: 1rem
  small: 2rem
  medium: 4rem
  large: 6rem
*/



//noinspection CssInvalidFunction
$primary-color: color("blue", "lighten-2");

$secondary-color: #333;

$input-focus-color: #ccc;//$secondary-color !default;
