$termsTabs-color:#333;
$termsTabs-colorActive:      lighten($termsTabs-color,30%);
$termsTabs-colorHover:       lighten($termsTabs-color,40%);
$termsTabs-colorActiveHover: lighten($termsTabs-color,60%);

$termsTabs-iconColor: #222;
$termsTabs-iconColorActive:      lighten($termsTabs-iconColor,20%);
$termsTabs-iconColorHover:       lighten($termsTabs-iconColor,40%);
$termsTabs-iconColorActiveHover: lighten($termsTabs-iconColor,60%);



.Terms{
  font-size: smaller;
  .sec{
    min-height:360px;
    max-height:360px;
    overflow-y: scroll;
    background:linear-gradient(to bottom,rgba(0,0,0,0.6),rgba(0,0,0,0));
    padding:1em;
    border-right: 1px solid #000;
    border-left: 1px solid #111;
    border-bottom: 1px solid #000;
    box-shadow:0 1px 2px 2px black;
  }
  h4{
    background: linear-gradient(to bottom,rgba(0,0,0,0.6),rgba(0,0,0,0));
    padding: 0.2em 0.2em 0.3em;
    margin-bottom:0;
    text-shadow: 3px 3px 3px black;
    border-top: 1px solid #222;
    border-left: 1px solid #111;
    border-right: 1px solid #000;

  }
  .sec-tabs{
    border-left: 1px solid #111;
    border-right: 1px solid #000;
  }
  .tabs{
    //background: linear-gradient(to bottom,rgba(0,0,0,0.0), rgba(0,0,0,0.6)) transparent;
    background: linear-gradient(to bottom,rgba(0,0,0,0.0), rgba(0,0,0,0.0)) transparent;
    //border-left: 1px solid #111;
    //border-right: 1px solid #000;
    margin-bottom:0;
    //min-width: inherit;
    overflow: hidden;
    > .tab{
      > a{
        > .icon{
          display:flex;
          align-items:center;
          justify-content: center;
          > .fontAwesome{
            font-size: 1.5em;
            position:relative;
            top:0.3em;
            text-shadow: 1px 1px 1px black;
          }
          color: $termsTabs-iconColor;
          transition: 400ms;
        }
        > .text{
          position: relative;
          top: 1em;
          line-height: 1em;
          transition: 400ms;
          color: $termsTabs-color;
          font-size: 10px;
          text-shadow: 1px 1px 1px black;
        }
      }
      > a:hover{
        > .icon{
          color:$termsTabs-iconColorHover;
        }
        > .text{
          color:$termsTabs-colorHover;
        }
      }
      > a.active {
        > .icon{
          color:$termsTabs-iconColorActive;
        }
        > .text{
          color:$termsTabs-colorActive;
        }
      }
      > a.active:hover {
        > .icon{
          color:$termsTabs-iconColorActiveHover;
        }
        > .text{
          color:$termsTabs-colorActiveHover;
        }
      }
    }
    > .indicator{
      animation: terms-tabs-indicator-background-color-rotate 6s linear infinite;
    }
  }
  .byline{
    text-align: right;
    position:relative;
    margin-top:-3.1em;
    margin-right:1em;
    text-shadow: 1px 1px 1px black;
  }
  .sec-terms{
    background: rgba(0,0,0,0.1);
    border: 1px solid #111;
    box-shadow: 2px 2px 2px 2px black;
    padding:0.2em;
    margin:0 1em 0;
    border-radius:0.2em;
  }
  .sec-address{

  }
  .fineprint{
    font-size: xx-small;
  }

}

@keyframes terms-tabs-indicator-background-color-rotate {
  0%   { background-color: hsl(  0,100%,50%); }
  25%   { background-color: hsl(128,100%,50%); }
  50%   { background-color: hsl(256,100%,50%); }
  75%   { background-color: hsl(128,100%,50%); }
  100%   { background-color: hsl(  0,100%,50%); }
}
