<h2 id="readme">README</h2>
<p><code>C:\_\keyprism3\.assets\esdoc\css</code></p>
<ul>
<li><code>brain_uid</code> - <code>09335629-E824-3836-6E1A-8A30325D2C09</code></li>
<li><code>thought_id</code> - <code>25</code></li>
<li><code>webthought_id</code> - <code>15</code></li>
<li><code>thought_uid</code> - <code>F42F6C6D-FB21-A08F-17E0-7941DFCAB212</code></li>
<li><code>vp_url</code> - <code>keyprism3.vpp://shape/ifLYyNqGAqAAAh5N/oKHYyNqGAqAAAh5c</code></li>
<li><code>vp_url_overview</code> - <code>keyprism3.vpp://shape/YcUAPVqGAqAAAhK3/c2PRvVqGAqAAAg2C</code></li>
<li><code>FmColorName</code> - <code>black</code></li>
<li><code>ColorHex</code> - <code>#525257</code></li>
<li><code>ColorRgb</code> - <code>82,82,87</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Ccss"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-48.png" /></a> <em>Source EsDoc Style</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%32%30%26webthought_id%3D%32%30%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FNGcYyNqGAqAAAh%34O%2FqJSYyNqGAqAAAh%34d%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FnEwRvVqGAqAAAg%31x"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Ccss%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2FifLYyNqGAqAAAh%35N%2FoKHYyNqGAqAAAh%35c"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2FifLYyNqGAqAAAh%35N%2FoKHYyNqGAqAAAh%35c"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/F%34%32F%36C%36D-FB%32%31-A%30%38F-%31%37E%30-%37%39%34%31DFCAB%32%31%32"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/keyprism3/keyprism3/src/master/.assets/esdoc/css/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/09335629-E824-3836-6E1A-8A30325D2C09#-25"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/keyprism3/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/keyprism3/vp/publish/content/PackageDiagram_ifLYyNqGAqAAAh5N.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Ccss%5CcontextMenu.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>contextMenu.css</code> - for <code>contextMenu.min.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Ccss%5Cjquery.qtip.min.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>jquery.qtip.min.css</code> - for <code>jquery.qtip.min.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Ccss%5Cprettify-tomorrow.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>prettify-tomorrow.css</code> - for <code>prettify.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Ccss%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Ccss%5Cstyle-qtip.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>style-qtip.css</code> - for <code>jquery.qtip.min.js</code> - extending</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Ccss%5Cstyle.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>style.css</code> - main EsDoc styles - in transition</li>
</ul>
