<h2 id="readme">README</h2>
<p><code>C:\_\keyprism3\.assets\esdoc\script</code></p>
<ul>
<li><code>brain_uid</code> - <code>09335629-E824-3836-6E1A-8A30325D2C09</code></li>
<li><code>thought_id</code> - <code>26</code></li>
<li><code>webthought_id</code> - <code>13</code></li>
<li><code>thought_uid</code> - <code>8DB9D7F1-3E64-D45B-1D07-033962F8ECEF</code></li>
<li><code>vp_url</code> - <code>keyprism3.vpp://shape/wLE4yNqGAqAAAh55/Vt04yNqGAqAAAh6G</code></li>
<li><code>vp_url_overview</code> - <code>keyprism3.vpp://shape/YcUAPVqGAqAAAhK3/IA5xvVqGAqAAAg2W</code></li>
<li><code>FmColorName</code> - <code>black</code></li>
<li><code>ColorHex</code> - <code>#525257</code></li>
<li><code>ColorRgb</code> - <code>82,82,87</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Cscript"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-48.png" /></a> <em>Source EsDoc built-in scripts, and additional scripts plus <code>manual.js</code> custom script</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%32%30%26webthought_id%3D%32%30%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FNGcYyNqGAqAAAh%34O%2FqJSYyNqGAqAAAh%34d%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FnEwRvVqGAqAAAg%31x"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Cscript%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2FwLE%34yNqGAqAAAh%35%35%2FVt%30%34yNqGAqAAAh%36G"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2FwLE%34yNqGAqAAAh%35%35%2FVt%30%34yNqGAqAAAh%36G"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/%38DB%39D%37F%31-%33E%36%34-D%34%35B-%31D%30%37-%30%33%33%39%36%32F%38ECEF"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/keyprism3/keyprism3/src/master/.assets/esdoc/script/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/09335629-E824-3836-6E1A-8A30325D2C09#-26"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/keyprism3/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/keyprism3/vp/publish/content/PackageDiagram_wLE4yNqGAqAAAh55.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Cscript%5Cprettify%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%32%37%26webthought_id%3D%31%31%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FlHe%34yNqGAqAAAh%36t%2Fr%37R%34yNqGAqAAAh%36%38%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FFEgJvVqGAqAAAg%32p"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-16.png" /></a> <code>prettify</code> - Source Prettify Code</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Cscript%5Cclipboard.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>clipboard.min.js</code> - Clipboard Copy</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Cscript%5CcontextMenu.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>contextMenu.min.js</code> - Context Menu</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Cscript%5Cjquery-%32.%31.%34.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>jquery-2.1.4.min.js</code> - EsDocs wants</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Cscript%5Cjquery.qtip.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>jquery.qtip.min.js</code> - QTip2 for jQuery</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Cscript%5CloadCSS.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>loadCSS.js</code> - Load CSS file asynch with window.loadCSS(href, before, media, idd)`</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Cscript%5Clscache.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>lscache.min.js</code> - localStorage extension <a href="https://github.com/pamelafox/lscache">lscashe Github</a></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Cscript%5Cmanual.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>manual.js</code> - Mark Robbins EsDoc Enhancements <code>window._</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Cscript%5Cnotify.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>notify.min.js</code> - <a href="https://notifyjs.com/">notifyjs.com</a></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Cscript%5ConloadCSS.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>onloadCSS.js</code> - adds onload support for asynchronous stylesheets loaded with <code>loadCSS.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Cscript%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
