.error_container{
 position:absolute;
  margin-top:-0.9em;
  color: #C22;
  background:linear-gradient(to bottom, rgba(100,0,0,0.5), rgba(100,0,0,0));
  > span{
    padding-left: 0.3em;
    display:block;
    text-overflow: ellipsis;
    overflow: hidden;
    text-shadow:1px 1px 1px black
  }
}

$InputError_fadein_time:500ms;
$InputError_fadeout_time:1500ms;

.visible-fade-out{
  animation: fade-to-invisible $InputError_fadeout_time linear;
  opacity:0;
  transition: opacity $InputError_fadeout_time;
}
.invisible-fade-in{
  animation: fade-to-visible $InputError_fadein_time linear;
  opacity: 1;
  transition: opacity $InputError_fadein_time;
}
.invisible-for-fade-in{
  visibility: hidden;
  opacity: 0;
  transition: opacity $InputError_fadein_time;
}




@keyframes fade-to-invisible {
  0%{
    visibility: visible;
  }
  100%{
    visibility: hidden;
  }
}

@keyframes fade-to-visible {
  0%{
    visibility: visible;
    filter: saturate(100%);
  }
  80%{
    filter: saturate(100%);
  }
  90%{
    filter: saturate(400%);
  }
  100%{
    visibility: visible;
    filter: saturate(100%);
  }
}