body{
  background-color: #0a0a0a;
  color: #444;
  width:100%;
  height:100%;
  max-width:100vh;
  min-width:100vh;
  overflow:hidden;
}

input{
  padding-left:0.2em;
}
// big dots
input[type="password"]{
  font:small-caption;
  font-size: 2em;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-floating,
.dropdown-content,
.collapsible,
.side-nav {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4), 0 2px 10px 0 rgba(0, 0, 0, 0.8);
}

.btn{
  background-color: rgba(0,0,0,0.4);
  border:1px solid #222;
  color: #666;
  text-shadow: 1px 1px 1px #000;
}
.btn:hover{
  background-color: rgba(0,0,0,0.7);
  border:1px solid #333;
  color: #bbb;
}
.material-icons{
  text-shadow: 2px 2px 1px #000, -1px -1px 1px #000;
}
.btn[type="submit"]{
  border:1px solid #444;
  color: #888;
}
.input-field label.active{
  color:#ccc;
}


/*
  Fix Chrome auto-fill background color on inputs
*/
@-webkit-keyframes autofill {
  to {
    color: #4F4;
    background: linear-gradient(to top,rgba(0,50,0,0.5),rgba(0,0,0,0));
  }
}

select:-webkit-autofill,
textarea:-webkit-autofill,
input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
// END: Fix Chrome auto-fill background color on inputs


::-webkit-scrollbar {
  background-color:#222;
}
::-webkit-scrollbar-track:vertical {
  background: #0a0a0a linear-gradient(to bottom, #0a0a0a, #000, #0a0a0a);
}
::-webkit-scrollbar-track-piece  {
  background-color:#000;
}
::-webkit-scrollbar-track-piece:vertical {
  background: #0a0a0a linear-gradient(to bottom, #0a0a0a, #000, #0a0a0a);
}
::-webkit-scrollbar-track-piece:vertical:hover {
  background: #112 linear-gradient(to bottom, #112, #000, #112);
}
::-webkit-scrollbar-track-piece:horizontal {
  background: #0a0a0a linear-gradient(to right, #0a0a0a, #000, #0a0a0a);
}
::-webkit-scrollbar-track-piece:horizontal:hover {
  background: #112 linear-gradient(to right, #112, #000, #112);
}

::-webkit-scrollbar-button:vertical,
::-webkit-scrollbar-thumb:vertical        {
  background: #111 linear-gradient(to right, #000, #111, #000);
}
::-webkit-scrollbar-button:vertical:hover,
::-webkit-scrollbar-thumb:vertical:hover  {
  background: #334 linear-gradient(to right, #222, #334, #222);
}

::-webkit-scrollbar-button:horizontal,
::-webkit-scrollbar-thumb:horizontal      {
  background: #111 linear-gradient(to bottom, #000, #111, #000);
}
::-webkit-scrollbar-button:horizontal:hover,
::-webkit-scrollbar-thumb:horizontal:hover{
  background: #334 linear-gradient(to bottom, #222, #334, #222);
}

::-webkit-scrollbar-corner{
  background-color:#000;
}
::-webkit-resizer{
  background-color:#000;
}

.invisible{
  visibility: hidden;
}
.visible{
  visibility: visible;
}