<h2 id="readme">README</h2>
<p><code>C:\_\keyprism3\.assets\esdoc\script\prettify</code></p>
<ul>
<li><code>brain_uid</code> - <code>09335629-E824-3836-6E1A-8A30325D2C09</code></li>
<li><code>thought_id</code> - <code>27</code></li>
<li><code>webthought_id</code> - <code>11</code></li>
<li><code>thought_uid</code> - <code>DB2581F8-8501-2DC2-2EFC-4F9812D163BC</code></li>
<li><code>vp_url</code> - <code>keyprism3.vpp://shape/lHe4yNqGAqAAAh6t/r7R4yNqGAqAAAh68</code></li>
<li><code>vp_url_overview</code> - <code>keyprism3.vpp://shape/YcUAPVqGAqAAAhK3/FEgJvVqGAqAAAg2p</code></li>
<li><code>FmColorName</code> - <code>black</code></li>
<li><code>ColorHex</code> - <code>#525257</code></li>
<li><code>ColorRgb</code> - <code>82,82,87</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Cscript%5Cprettify"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-48.png" /></a> <em>Source Prettify Code</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Cscript%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%32%36%26webthought_id%3D%31%33%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FwLE%34yNqGAqAAAh%35%35%2FVt%30%34yNqGAqAAAh%36G%26vp_url_overview%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FIA%35xvVqGAqAAAg%32W"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Cscript%5Cprettify%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2FlHe%34yNqGAqAAAh%36t%2Fr%37R%34yNqGAqAAAh%36%38"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2FlHe%34yNqGAqAAAh%36t%2Fr%37R%34yNqGAqAAAh%36%38"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vpolink</li>
<li><a href="aip://thoughtuid/DB%32%35%38%31F%38-%38%35%30%31-%32DC%32-%32EFC-%34F%39%38%31%32D%31%36%33BC"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/keyprism3/keyprism3/src/master/.assets/esdoc/script/prettify/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/09335629-E824-3836-6E1A-8A30325D2C09#-27"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/keyprism3/esdoc/file/.assets/esdoc/script/prettify/prettify.js.html"><img src="http://mrobbinsassoc.com/images/icons/md/esdoc-16.png" /></a> - esdoc</li>
<li><a href="http://mrobbinsassoc.com/projects/keyprism3/plato/files/esdoc_script_prettify_prettify_js/index.html"><img src="http://mrobbinsassoc.com/images/icons/md/plato-16.png" /></a> - plato</li>
<li><a href="http://mrobbinsassoc.com/projects/keyprism3/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/keyprism3/vp/publish/content/PackageDiagram_lHe4yNqGAqAAAh6t.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Cscript%5Cprettify%5CApache-License-%32.%30.txt"><img src="http://mrobbinsassoc.com/images/icons/md/_txt-16.png" /></a> <code>Apache-License-2.0.txt</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Cscript%5Cprettify%5Cprettify.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>prettify.js</code> - Library, has css dependency</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cesdoc%5Cscript%5Cprettify%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
