/*
  li.navListItem<.active>
    a
      div[key=icon]
        (FontAwesome)span.fontAwesome*
      div[key=text]
*/

$navListItem-color:#333;
$navListItem-colorActive:      lighten($navListItem-color,30%);
$navListItem-colorHover:       lighten($navListItem-color,40%);
$navListItem-colorActiveHover: lighten($navListItem-color,60%);

$navListItem-iconColor: #222;
$navListItem-iconColorActive:      lighten($navListItem-iconColor,20%);
$navListItem-iconColorHover:       lighten($navListItem-iconColor,40%);
$navListItem-iconColorActiveHover: lighten($navListItem-iconColor,60%);

li.navListItem{
  > a{
    > div.icon{
      display: flex;
      align-items: center;
      justify-content: center;
      > span.fontAwesome{
        font-size: 1.5em;
        position: relative;
        top: 0.3em;
      }
      color: $navListItem-iconColor;
      transition: 4000ms;
    }
    > div.text{
      position: relative;
      top: 1em;
      line-height: 1em;
      color: $navListItem-color;
      transition: 4000ms;
    }
  }
  border-bottom: 2px solid transparent;
  transition: 4000ms;
  &.active{
    border-bottom: 2px solid;
    animation: li-navListItem-active-border-bottom-color-rotate 6s linear infinite;
    > a{
      > div.icon{
        color: $navListItem-iconColorActive;
        transition: 500ms;
      }
      > div.text{
        color: $navListItem-colorActive;
        transition: 500ms;
      }
    }
  }
  &:hover{
    animation: li-navListItem-active-border-bottom-color-rotate 3s linear infinite;
    > a{
      > div.icon{
        color: $navListItem-iconColorHover;
        transition: 500ms;
      }
      > div.text{
        color: $navListItem-colorHover;
        transition: 500ms;
      }
    }
  }
  &.active:hover{
    > a{
      > div.icon{
        color: $navListItem-iconColorActiveHover;
        transition: 500ms;
      }
      > div.text{
        color: $navListItem-colorActiveHover;
        transition: 500ms;
      }
    }
  }
}

@keyframes li-navListItem-active-border-bottom-color-rotate {
    0%   { border-bottom-color: hsl(  0,100%,50%); }
   25%   { border-bottom-color: hsl(128,100%,50%); }
   50%   { border-bottom-color: hsl(256,100%,50%); }
   75%   { border-bottom-color: hsl(128,100%,50%); }
  100%   { border-bottom-color: hsl(  0,100%,50%); }
}

@keyframes li-navListItem-hover-border-bottom-color-rotate {
    0%   { border-bottom-color: hsl(0  ,100%,50%); }
   25%   { border-bottom-color: hsl(128,100%,50%); }
   50%   { border-bottom-color: hsl(256,100%,50%); }
   75%   { border-bottom-color: hsl(128,100%,50%); }
  100%   { border-bottom-color: hsl(  0,100%,50%); }
}

