<h2 id="readme">README</h2>
<p><code>C:\_\keyprism3\.assets\yodiz</code></p>
<ul>
<li><code>brain_uid</code> - <code>09335629-E824-3836-6E1A-8A30325D2C09</code></li>
<li><code>thought_id</code> - <code>164</code></li>
<li><code>thought_uid</code> - <code>54336DF4-4827-6295-8213-3B09AE2A6914</code></li>
<li><code>vp_url</code> - <code>keyprism3.vpp://shape/YcUAPVqGAqAAAhK3/DJnGCNqGAqAAAgn0</code></li>
<li><code>FmColorName</code> - <code>gray</code></li>
<li><code>ColorHex</code> - <code>#9999A2</code></li>
<li><code>ColorRgb</code> - <code>153,153,162</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cyodiz"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-48.png" /></a> <em>Source Files for Github Push Directory for Yodiz UserScript</em></p>
<p>See <a href="https://openuserjs.org/scripts/MarkRobbins/Keyprism3_Yodiz">Keyprism3_Yodiz</a> UserScript</p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Ckeyprism%33%5C.assets%5CREADME.md%3Fbrain_uid%3D%30%39%33%33%35%36%32%39-E%38%32%34-%33%38%33%36-%36E%31A-%38A%33%30%33%32%35D%32C%30%39%26thought_id%3D%38%26webthought_id%3D%38%26vp_url%3Dkeyprism%33.vpp%3A%2F%2Fshape%2FyOFsx%31qGAqAAAgq_%2FuDwcx%31qGAqAAAgsh"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-white-light-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cyodiz%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
<li><a href="aip://vplink/keyprism%33.vpp%3A%2F%2Fshape%2FYcUAPVqGAqAAAhK%33%2FDJnGCNqGAqAAAgn%30"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - vplink</li>
<li><a href="aip://thoughtuid/%35%34%33%33%36DF%34-%34%38%32%37-%36%32%39%35-%38%32%31%33-%33B%30%39AE%32A%36%39%31%34"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - thought</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/keyprism3/keyprism3/src/master/.assets/yodiz/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="https://webbrain.com/brainpage/brain/09335629-E824-3836-6E1A-8A30325D2C09#-164"><img src="http://mrobbinsassoc.com/images/icons/md/webbrain-16.png" /></a> - webbrain</li>
<li><a href="http://mrobbinsassoc.com/projects/keyprism3/vp/publish/index.html?url=http://mrobbinsassoc.com/projects/keyprism3/vp/publish/content/PackageDiagram_YcUAPVqGAqAAAhK3.html"><img src="http://mrobbinsassoc.com/images/icons/md/visualparadigm-16.png" /></a> - visual paradigm publish</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cyodiz%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Ckeyprism%33%5C.assets%5Cyodiz%5Cyodiz.user.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>yodiz.user.js</code> - HardLink to <code>.assets/.yodiz/yodiz.user.js</code> - Extends Yodiz to integrate WebBrain and Visual Paradigm for <a href="https://bitbucket.org/keyprism3/keyprism3/src/master/">keyprism3</a></li>
</ul>
