.ZxcvbnReport{
  display: flex; flex-direction: column; flex-grow: 1;
  margin-top: 1em;
  > .score-guesses{
    background: linear-gradient(to bottom,rgba(0,0,0,0.6),rgba(0,0,0,0));
    border-top: 1px solid #222;
    border-left: 1px solid #111;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 1em;
    //margin-top: 2.6em;
    text-shadow: 1px 1px 1px black;
    > .header{
      background: linear-gradient(to bottom,rgba(0,0,0,0.4),rgba(0,0,0,0),rgba(0,0,0,0.4));
      border-right: 1px solid #111;
      border-left: 1px solid #000;
      border-top: 1px solid #000;
      border-bottom: 1px solid #111;
      margin-top:0;
      margin-bottom:0;
      padding: 0.2em 0.2em 0.1em;
      text-shadow: 3px 3px 3px black;
      color: #1a1a1a;
      font-weight: bold;
    }
    > .div-calculated{
      position: relative;
      margin-top: -2.0em;
      > .calculated{
        float:right;
        margin-right:2em;
        text-shadow: 1px 1px 1px black;
      }
    }
    > .warning{
      font-size: 1.4em;
      text-shadow: 2px 2px 2px black;
      margin-top: 1.75em;
    }
    > .score{
      font-size: larger;
      text-align: center;
      > .score-title{
        font-weight:bold;
        text-shadow: 1px 1px 1px black;
      }
      > .score-score{
        opacity: 0.6;
        font-size: 1.1em;
        padding-left: 0.4em;
        padding-right: 0.4em;
        min-width:4em;
        max-width:4em;
        border-radius: 3px;
        box-shadow: 2px 2px 2px black;
        margin-left: 0.1em;
        margin-right: 0.1em;
      }
      .of-score{
        font-size: 1.1em;
        color: #666;
        background-color: rgba(20,20,20,0.5);
        border:1px solid #222;
        padding-left: 0.4em;
        padding-right: 0.4em;
        min-width:4em;
        max-width:4em;
        border-radius: 3px;
        box-shadow: 2px 2px 2px black;
        margin-left: 0.1em;
        margin-right:0.1em;
      }
      .score-score.score-0{
        color: red;
        border:1px solid red;
        background-color: darken(red,30%);
      }
      .score-score.score-1{
        color: orange;
      }
      .score-score.score-2{
        color: yellow;
      }
      .score-score.score-3{
        color: green;
      }
      .score-score.score-4{
        color: blue;
      }
    }
    .guesses{
      margin-top: 0.3em;
      font-size: smaller;
      text-align: center;
      background-color: rgba(0,0,0,0.4);
      color: #555;
      border: 1px solid #222;
      border-radius: 2px;
      box-shadow: 2px 2px 2px 1px black;
      .number{
        color: #888;
      }
    }
  }
  .div-cracks{
    background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.6));
    border-top: 1px solid #222;
    border-left: 1px solid #111;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top:0.5em;
    padding:1em;
    .online-attack{
      background: linear-gradient(to bottom,rgba(0,0,0,0.6),rgba(0,0,0,0));
      padding: 0.2em 0.2em 0.3em;
      margin-bottom:0;
      margin-top: 0;
      text-shadow: 3px 3px 3px black;
      color: #1a1a1a;
      border-top: 1px solid #000;
      border-left: 1px solid #000;
      border-right: 1px solid #222;
      font-weight: bold;
    }
    .div-online-attack{
      padding-left:1em;
      padding-right:1em;
      padding-bottom:0.5em;
      border-bottom: 1px solid #333;
      border-right: 1px solid #222;
      border-left: 1px solid #000;
      background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.6));
      .cracked-in{
        font-style: italic;
        position:relative;
        margin-right:1em;
        float:right;
        margin-top:-1.75em;
        text-shadow: 1px 1px 1px black;
        color: #555;
      }
      .throttling{
        .number{
          color: #888;
        }
      }
      .nothrottling{
        .number{
          color: #888;
        }
      }
    }
  }
  .div-suggestions{
    display: flex; flex-direction: column; flex-grow: 1;
    min-height: 9.5em;
    background: rgba(0,0,0,0.2);
    border-top: 1px solid #222;
    border-left: 1px solid #111;
    border-right: 1px solid #000;
    margin-top:0.5em;
    padding:1em;
    .header{
      background: linear-gradient(to bottom,rgba(0,0,0,0.6),rgba(0,0,0,0));
      padding: 0.2em 0.2em 0.3em;
      margin-bottom:0;
      margin-top: 0;
      text-shadow: 3px 3px 3px black;
      border-top: 1px solid #222;
      border-left: 1px solid #111;
      border-right: 1px solid #000;
      color: #1a1a1a;
      font-weight: bold;
    }
    .div-suggestions-suggestions{
      flex-grow: 1;
      min-height: 5em;
      background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.6));
      border-left: 1px solid #111;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      padding-left:1em;
      padding-right:1em;
      padding-bottom: 0.25em;
      margin-top:-1em;
      text-shadow: 1px 1px 1px black;
    }
  }

}