// This File is for you to modify!
// It won't be overwritten as long as it exists.
// You may include this file into your less files to benefit from
// mixins and variables that bootstrap provides.
/*noinspection CssUnknownTarget*/
@import "custom.bootstrap.mixins.import.less";


// @import "bootstrap/less/variables.less"
//
// Variables
// --------------------------------------------------


//== Colors
@gray-base: rgb(0, 0, 0);
@gray-darker: lighten(@gray-base, 13.5%);
@gray-dark: lighten(@gray-base, 20%);
@gray: rgb(111, 111, 111);
@gray-light: lighten(@gray-base, 60%);
@gray-lighter: lighten(@gray-base, 93.5%);
@brand-primary: rgb(0, 140, 186);
@brand-success: rgb(67, 172, 106);
@brand-info: rgb(91, 192, 222);
@brand-warning: rgb(233, 144, 2);
@brand-danger: rgb(240, 65, 36);

//== Scaffolding

//** Background color for `<body>`.
@body-bg: rgb(255, 255, 255);

//** Global text color on `<body>`.
@text-color: @gray-darker;

//** Global textual link color.
@link-color: @brand-primary;

//** Link hover color set via `darken()` function.
@link-hover-color: @link-color;

//** Link hover decoration.
@link-hover-decoration: underline;

//== Typography
@font-family-sans-serif: "helvetica neue", helvetica, arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base: @font-family-sans-serif;
@font-size-base: 16px;
@font-size-large: ceil((@font-size-base * 1.25));
@font-size-small: 12px;
@font-size-h1: floor((@font-size-base * 2.6));
@font-size-h2: floor((@font-size-base * 2.15));
@font-size-h3: ceil((@font-size-base * 1.7));
@font-size-h4: ceil((@font-size-base * 1.25));
@font-size-h5: @font-size-base;
@font-size-h6: ceil((@font-size-base * 0.85));

//** Unit-less `line-height` for use in components like buttons.
@line-height-base: 1.4;

//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed: floor((@font-size-base * @line-height-base));

//** By default, this inherits from the `<body>`.
@headings-font-family: @font-family-base;
@headings-font-weight: rgb(51, 0, 0);
@headings-line-height: 1.1;
@headings-color: inherit;

//== Iconography

//** Load fonts from this directory.
@icon-font-path: "../fonts/";

//** File name for all font files.
@icon-font-name: "glyphicons-halflings-regular";

//** Element ID within SVG icon file.
@icon-font-svg-id: "glyphicons_halflingsregular";

//== Components
@padding-base-vertical: 8px;
@padding-base-horizontal: 12px;
@padding-large-vertical: 16px;
@padding-large-horizontal: 20px;
@padding-small-vertical: 8px;
@padding-small-horizontal: 12px;
@padding-xs-vertical: 4px;
@padding-xs-horizontal: 6px;
@line-height-large: 1.3333333;
@line-height-small: 1.5;
@border-radius-base: 3px;
@border-radius-large: 3px;
@border-radius-small: 3px;

//** Global color for active items (e.g., navs or dropdowns).
@component-active-color: rgb(255, 255, 255);

//** Global background color for active items (e.g., navs or dropdowns).
@component-active-bg: @brand-primary;

//** Width of the `border` for generating carets that indicator dropdowns.
@caret-width-base: 4px;

//** Carets increase slightly in size for larger components.
@caret-width-large: 5px;

//== Tables

//** Padding for `<th>`s and `<td>`s.
@table-cell-padding: 8px;

//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding: 5px;

//** Default background color used for all tables.
@table-bg: rgba(0, 0, 0, 0);

//** Background color used for `.table-striped`.
@table-bg-accent: rgb(249, 249, 249);

//** Background color used for `.table-hover`.
@table-bg-hover: rgb(245, 245, 245);
@table-bg-active: @table-bg-hover;

//** Border color for table and cell borders.
@table-border-color: rgb(221, 221, 221);

//== Buttons
@btn-font-weight: normal;
@btn-default-color: @gray-dark;
@btn-default-bg: rgb(231, 231, 231);
@btn-default-border: rgb(204, 204, 204);
@btn-primary-color: rgb(255, 255, 255);
@btn-primary-bg: @brand-primary;
@btn-primary-border: darken(@btn-primary-bg, 5%);
@btn-success-color: rgb(255, 255, 255);
@btn-success-bg: @brand-success;
@btn-success-border: darken(@btn-success-bg, 5%);
@btn-info-color: rgb(255, 255, 255);
@btn-info-bg: @brand-info;
@btn-info-border: darken(@btn-info-bg, 5%);
@btn-warning-color: rgb(255, 255, 255);
@btn-warning-bg: @brand-warning;
@btn-warning-border: darken(@btn-warning-bg, 5%);
@btn-danger-color: rgb(255, 255, 255);
@btn-danger-bg: @brand-danger;
@btn-danger-border: darken(@btn-danger-bg, 5%);
@btn-link-disabled-color: @gray-light;

// Allows for customizing button radius independently from global border radius
@btn-border-radius-base:         @border-radius-base;
@btn-border-radius-large:        @border-radius-large;
@btn-border-radius-small:        @border-radius-small;

//== Forms

//** `<input>` background color
@input-bg: rgb(255, 255, 255);

//** `<input disabled>` background color
@input-bg-disabled: @gray-lighter;

//** Text color for `<input>`s
@input-color: @gray;

//** `<input>` border color
@input-border: rgb(204, 204, 204);

//** Default `.form-control` border radius
@input-border-radius: @border-radius-base;

//** Large `.form-control` border radius
@input-border-radius-large: @border-radius-large;

//** Small `.form-control` border radius
@input-border-radius-small: @border-radius-small;

//** Border color for inputs on focus
@input-border-focus: rgb(102, 175, 233);

//** Placeholder text color
@input-color-placeholder: @gray-light;

//** Default `.form-control` height
@input-height-base: (@line-height-computed + (@padding-base-vertical * 2) + 2);

//** Large `.form-control` height
@input-height-large: (ceil(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2);

//** Small `.form-control` height
@input-height-small: (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);

//** `.form-group` margin
@form-group-margin-bottom: 15px;
@legend-color: @gray-dark;
@legend-border-color: rgb(229, 229, 229);

//** Background color for textual input addons
@input-group-addon-bg: @gray-lighter;

//** Border color for textual input addons
@input-group-addon-border-color: @input-border;

//** Disabled cursor for form controls and buttons.
@cursor-disabled: not-allowed;

//== Dropdowns

//** Background for the dropdown menu.
@dropdown-bg: rgb(255, 255, 255);

//** Dropdown menu `border-color`.
@dropdown-border: rgba(0, 0, 0, 0.15);

//** Dropdown menu `border-color` **for IE8**.
@dropdown-fallback-border: rgb(204, 204, 204);

//** Divider color for between dropdown items.
@dropdown-divider-bg: rgba(0, 0, 0, 0.2);

//** Dropdown link text color.
@dropdown-link-color: rgb(85, 85, 85);

//** Hover color for dropdown links.
@dropdown-link-hover-color: darken(@gray-dark, 5%);

//** Hover background for dropdown links.
@dropdown-link-hover-bg: rgb(238, 238, 238);

//** Active dropdown menu item text color.
@dropdown-link-active-color: @component-active-color;

//** Active dropdown menu item background color.
@dropdown-link-active-bg: @component-active-bg;

//** Disabled dropdown menu item background color.
@dropdown-link-disabled-color: @gray-light;

//** Text color for headers within dropdown menus.
@dropdown-header-color: @gray-light;

//** Deprecated `@dropdown-caret-color` as of v3.1.0
@dropdown-caret-color: rgb(0, 0, 0);

//-- Z-index master list
@zindex-navbar: 1000;
@zindex-dropdown: 1000;
@zindex-popover: 1060;
@zindex-tooltip: 1070;
@zindex-navbar-fixed: 1030;
@zindex-modal-background: 1040;
@zindex-modal: 1050;

//== Media queries breakpoints

//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs: 480px;

//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min: @screen-xs;

//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone: @screen-xs-min;

//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm: 768px;
@screen-sm-min: @screen-sm;

//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet: @screen-sm-min;

//** Deprecated `@screen-md` as of v3.0.1
@screen-md: 992px;
@screen-md-min: @screen-md;

//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop: @screen-md-min;

//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg: 1200px;
@screen-lg-min: @screen-lg;

//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop: @screen-lg-min;
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);

//== Grid system

//** Number of columns in the grid.
@grid-columns: 12;

//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width: 20px;

//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint: @screen-sm-min;

//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);

//== Container sizes
@container-tablet: (720px + @grid-gutter-width);

//** For `@screen-sm-min` and up.
@container-sm: @container-tablet;
@container-desktop: (940px + @grid-gutter-width);

//** For `@screen-md-min` and up.
@container-md: @container-desktop;
@container-large-desktop: (1140px + @grid-gutter-width);

// Large Screen Max Width 1000px;
@container-large-desktop-max-width: (980px + @grid-gutter-width);

//** For `@screen-lg-min` and up.
@container-lg: @container-large-desktop;

//== Navbar
@navbar-height: 80px;
@navbar-margin-bottom: @line-height-computed;
@navbar-border-radius: @border-radius-base;
@navbar-padding-horizontal: floor((@grid-gutter-width / 2));
@navbar-padding-vertical: ((@navbar-height - @line-height-computed) / 2);
@navbar-collapse-max-height: 340px;
@navbar-default-color: rgb(102, 102, 102);
@navbar-default-bg: rgb(255, 255, 255);
@navbar-default-border: rgb(255, 255, 255);
@navbar-default-link-color: rgb(102, 102, 102);
@navbar-default-link-hover-color: #008cba;
@navbar-default-link-hover-bg: rgb(255, 255, 255);
@navbar-default-link-active-color: #008cba;
@navbar-default-link-active-bg: rgba(0, 0, 0, 0);
@navbar-default-link-disabled-color: rgb(204, 204, 204);
@navbar-default-link-disabled-bg: rgba(0, 0, 0, 0);
@navbar-default-brand-color: @navbar-default-link-color;
@navbar-default-brand-hover-color: @navbar-default-brand-color;
@navbar-default-brand-hover-bg: rgba(0, 0, 0, 0);
@navbar-default-toggle-hover-bg: rgba(0, 0, 0, 0);
@navbar-default-toggle-icon-bar-bg: rgb(179, 179, 179);
@navbar-default-toggle-border-color: rgba(0, 0, 0, 0);
@navbar-inverse-color: rgb(255, 255, 255);
@navbar-inverse-bg: @brand-primary;
@navbar-inverse-border: darken(@navbar-inverse-bg, 10%);
@navbar-inverse-link-color: rgb(255, 255, 255);
@navbar-inverse-link-hover-color: rgb(255, 255, 255);
@navbar-inverse-link-hover-bg: darken(@navbar-inverse-bg, 10%);
@navbar-inverse-link-active-color: rgb(255, 255, 255);
@navbar-inverse-link-active-bg: darken(@navbar-inverse-bg, 10%);
@navbar-inverse-link-disabled-color: rgb(68, 68, 68);
@navbar-inverse-link-disabled-bg: rgba(0, 0, 0, 0);
@navbar-inverse-brand-color: @navbar-inverse-link-color;
@navbar-inverse-brand-hover-color: rgb(255, 255, 255);
@navbar-inverse-brand-hover-bg: rgba(0, 0, 0, 0);
@navbar-inverse-toggle-hover-bg: rgba(0, 0, 0, 0);
@navbar-inverse-toggle-icon-bar-bg: rgb(255, 255, 255);
@navbar-inverse-toggle-border-color: rgba(0, 0, 0, 0);

//== Navs

//=== Shared nav styles
@nav-link-padding: 10px 15px;
@nav-link-hover-bg: @gray-lighter;
@nav-disabled-link-color: @gray-light;
@nav-disabled-link-hover-color: @gray-light;

//== Tabs
@nav-tabs-border-color: @table-border-color;
@nav-tabs-link-hover-border-color: @gray-lighter;
@nav-tabs-active-link-hover-bg: @body-bg;
@nav-tabs-active-link-hover-color: @gray;
@nav-tabs-active-link-hover-border-color: @table-border-color;
@nav-tabs-justified-link-border-color: @table-border-color;
@nav-tabs-justified-active-link-border-color: @body-bg;

//== Pills
@nav-pills-border-radius: @border-radius-base;
@nav-pills-active-link-hover-bg: @component-active-bg;
@nav-pills-active-link-hover-color: @component-active-color;

//== Pagination
@pagination-color: @link-color;
@pagination-bg: rgba(0, 0, 0, 0);
@pagination-border: rgba(0, 0, 0, 0);
@pagination-hover-color: @link-hover-color;
@pagination-hover-bg: @gray-lighter;
@pagination-hover-border: rgba(0, 0, 0, 0);
@pagination-active-color: rgb(255, 255, 255);
@pagination-active-bg: @brand-primary;
@pagination-active-border: rgba(0, 0, 0, 0);
@pagination-disabled-color: @gray-light;
@pagination-disabled-bg: rgb(255, 255, 255);
@pagination-disabled-border: rgba(0, 0, 0, 0);

//== Pager
@pager-bg: @pagination-bg;
@pager-border: @pagination-border;
@pager-border-radius: 3px;
@pager-hover-bg: @pagination-hover-bg;
@pager-active-bg: @pagination-active-bg;
@pager-active-color: @pagination-active-color;
@pager-disabled-color: @gray-light;

//== Jumbotron
@jumbotron-padding: 30px;
@jumbotron-color: inherit;
@jumbotron-bg: rgb(250, 250, 250);
@jumbotron-heading-color: inherit;
@jumbotron-font-size: ceil((@font-size-base * 1.5));
@jumbotron-heading-font-size:    ceil((@font-size-base * 4.5));

//== Form states and alerts
@state-success-text: @brand-success;
@state-success-bg: rgb(223, 240, 216);
@state-success-border: darken(@state-success-text, 5%);
@state-info-text: @brand-info;
@state-info-bg: rgb(217, 237, 247);
@state-info-border: darken(@state-info-text, 7%);
@state-warning-text: @brand-warning;
@state-warning-bg: rgb(252, 248, 227);
@state-warning-border: darken(@state-warning-text, 5%);
@state-danger-text: @brand-danger;
@state-danger-bg: rgb(242, 222, 222);
@state-danger-border: darken(@state-danger-text, 5%);

//== Tooltips

//** Tooltip max width
@tooltip-max-width: 200px;

//** Tooltip text color
@tooltip-color: rgb(255, 255, 255);

//** Tooltip background color
@tooltip-bg: @gray-dark;
@tooltip-opacity: 1;

//** Tooltip arrow width
@tooltip-arrow-width: 5px;

//** Tooltip arrow color
@tooltip-arrow-color: @tooltip-bg;

//== Popovers

//** Popover body background color
@popover-bg: @gray-dark;

//** Popover maximum width
@popover-max-width: 276px;

//** Popover border color
@popover-border-color: rgba(0, 0, 0, 0);

//** Popover fallback border color
@popover-fallback-border-color: @gray-dark;

//** Popover title background color
@popover-title-bg: @popover-bg;

//** Popover arrow width
@popover-arrow-width: 10px;

//** Popover arrow color
@popover-arrow-color: @popover-bg;

//** Popover outer arrow width
@popover-arrow-outer-width: (@popover-arrow-width + 1);

//** Popover outer arrow color
@popover-arrow-outer-color: fadein(@popover-border-color, 5%);

//** Popover outer arrow fallback color
@popover-arrow-outer-fallback-color: darken(@popover-fallback-border-color, 20%);

//== Labels

//** Default label background color
@label-default-bg: @gray-light;

//** Primary label background color
@label-primary-bg: @brand-primary;

//** Success label background color
@label-success-bg: @brand-success;

//** Info label background color
@label-info-bg: @brand-info;

//** Warning label background color
@label-warning-bg: @brand-warning;

//** Danger label background color
@label-danger-bg: @brand-danger;

//** Default label text color
@label-color: rgb(255, 255, 255);

//** Default text color of a linked label
@label-link-hover-color: rgb(255, 255, 255);

//== Modals

//** Padding applied to the modal body
@modal-inner-padding: 20px;

//** Padding applied to the modal title
@modal-title-padding: 15px;

//** Modal title line-height
@modal-title-line-height: @line-height-base;

//** Background color of modal content area
@modal-content-bg: rgb(255, 255, 255);

//** Modal content border color
@modal-content-border-color: rgba(0, 0, 0, 0.2);

//** Modal content border color **for IE8**
@modal-content-fallback-border-color: rgb(153, 153, 153);

//** Modal backdrop background color
@modal-backdrop-bg: rgb(0, 0, 0);

//** Modal backdrop opacity
@modal-backdrop-opacity: .5;

//** Modal header border color
@modal-header-border-color: rgb(229, 229, 229);

//** Modal footer border color
@modal-footer-border-color: @modal-header-border-color;
@modal-lg: 800px;
@modal-md: 600px;
@modal-sm: 300px;

//== Alerts
@alert-padding: 15px;
@alert-border-radius: @border-radius-base;
@alert-link-font-weight: bold;
@alert-success-bg: @brand-success;
@alert-success-text: rgb(255, 255, 255);
@alert-success-border: @state-success-border;
@alert-info-bg: @brand-info;
@alert-info-text: rgb(255, 255, 255);
@alert-info-border: @state-info-border;
@alert-warning-bg: @state-warning-bg;
@alert-warning-text: #8a6d3b;
@alert-warning-border: darken(spin(@state-warning-bg, -10), 5%);
@alert-danger-bg: @brand-danger;
@alert-danger-text: rgb(255, 255, 255);
@alert-danger-border: @state-danger-border;

//== Progress bars

//** Background color of the whole progress component
@progress-bg: rgb(245, 245, 245);

//** Progress bar text color
@progress-bar-color: rgb(255, 255, 255);

//** Variable for setting rounded corners on progress bar.
@progress-border-radius: @border-radius-base;

//** Default progress bar color
@progress-bar-bg: @brand-primary;

//** Success progress bar color
@progress-bar-success-bg: @brand-success;

//** Warning progress bar color
@progress-bar-warning-bg: @brand-warning;

//** Danger progress bar color
@progress-bar-danger-bg: @brand-danger;

//** Info progress bar color
@progress-bar-info-bg: @brand-info;

//== List group

//** Background color on `.list-group-item`
@list-group-bg: rgb(255, 255, 255);

//** `.list-group-item` border color
@list-group-border: @table-border-color;

//** List group border radius
@list-group-border-radius: @border-radius-base;

//** Background color of single list items on hover
@list-group-hover-bg: rgb(245, 245, 245);

//** Text color of active list items
@list-group-active-color: @component-active-color;

//** Background color of active list items
@list-group-active-bg: @component-active-bg;

//** Border color of active list elements
@list-group-active-border: @list-group-active-bg;

//** Text color for content within active list items
@list-group-active-text-color: lighten(@list-group-active-bg, 40%);

//** Text color of disabled list items
@list-group-disabled-color: @gray-light;

//** Background color of disabled list items
@list-group-disabled-bg: @gray-lighter;

//** Text color for content within disabled list items
@list-group-disabled-text-color: @list-group-disabled-color;
@list-group-link-color: rgb(85, 85, 85);
@list-group-link-hover-color: @list-group-link-color;
@list-group-link-heading-color: rgb(51, 51, 51);

//== Panels
@panel-bg: rgb(255, 255, 255);
@panel-body-padding: 15px;
@panel-heading-padding: 10px 15px;
@panel-footer-padding: @panel-heading-padding;
@panel-border-radius: @border-radius-base;

//** Border color for elements within panels
@panel-inner-border: @table-border-color;
@panel-footer-bg: rgb(245, 245, 245);
@panel-default-text: @gray-dark;
@panel-default-border: @table-border-color;
@panel-default-heading-bg: rgb(245, 245, 245);
@panel-primary-text: rgb(255, 255, 255);
@panel-primary-border: @brand-primary;
@panel-primary-heading-bg: @brand-primary;
@panel-success-text: rgb(255, 255, 255);
@panel-success-border: @state-success-border;
@panel-success-heading-bg: @brand-success;
@panel-info-text: rgb(255, 255, 255);
@panel-info-border: @state-info-border;
@panel-info-heading-bg: @brand-info;
@panel-warning-text: rgb(255, 255, 255);
@panel-warning-border: @state-warning-border;
@panel-warning-heading-bg: @brand-warning;
@panel-danger-text: rgb(255, 255, 255);
@panel-danger-border: @state-danger-border;
@panel-danger-heading-bg: @brand-danger;

//== Thumbnails

//** Padding around the thumbnail image
@thumbnail-padding: 4px;

//** Thumbnail background color
@thumbnail-bg: @body-bg;

//** Thumbnail border color
@thumbnail-border: @table-border-color;

//** Thumbnail border radius
@thumbnail-border-radius: @border-radius-base;

//** Custom text color for thumbnail captions
@thumbnail-caption-color: @text-color;

//** Padding around the thumbnail caption
@thumbnail-caption-padding: 9px;

//== Wells
@well-bg: @jumbotron-bg;
@well-border: darken(@well-bg, 7%);

//== Badges
@badge-color: rgb(255, 255, 255);

//** Linked badge text color on hover
@badge-link-hover-color: rgb(255, 255, 255);
@badge-bg: @btn-primary-bg;

//** Badge text color in active nav link
@badge-active-color: @link-color;

//** Badge background color in active nav link
@badge-active-bg: rgb(255, 255, 255);
@badge-font-weight: bold;
@badge-line-height: 1;
@badge-border-radius: 10px;

//== Breadcrumbs
@breadcrumb-padding-vertical: 8px;
@breadcrumb-padding-horizontal: 15px;

//** Breadcrumb background color
@breadcrumb-bg: rgb(245, 245, 245);

//** Breadcrumb text color
@breadcrumb-color: @gray-light;

//** Text color of current page in the breadcrumb
@breadcrumb-active-color: @gray-dark;

//** Textual separator for between breadcrumb elements
@breadcrumb-separator: "/";

//== Carousel
@carousel-text-shadow: rgba(0, 0, 0, 0.6);
@carousel-control-color: rgb(255, 255, 255);
@carousel-control-width: 15%;
@carousel-control-opacity: .5;
@carousel-control-font-size: 20px;
@carousel-indicator-active-bg: rgb(255, 255, 255);
@carousel-indicator-border-color: rgb(255, 255, 255);
@carousel-caption-color: rgb(255, 255, 255);

//== Close
@close-font-weight: bold;
@close-color: rgb(255, 255, 255);
@close-text-shadow: 0 1px 0 #fff;

//== Code
@code-color: rgb(199, 37, 78);
@code-bg: rgb(249, 242, 244);
@kbd-color: rgb(255, 255, 255);
@kbd-bg: rgb(51, 51, 51);
@pre-bg: rgb(245, 245, 245);
@pre-color: @gray-dark;
@pre-border-color: rgb(204, 204, 204);
@pre-scrollable-max-height: 340px;

//== Type

//** Horizontal offset for forms and lists.
@component-offset-horizontal: 180px;

//** Text muted color
@text-muted: @gray-light;

//** Abbreviations and acronyms border color
@abbr-border-color: @gray-light;

//** Headings small color
@headings-small-color: @gray-light;

//** Blockquote small color
@blockquote-small-color: @gray;

//** Blockquote font size
@blockquote-font-size: (@font-size-base * 1.25);

//** Blockquote border color
@blockquote-border-color: @table-border-color;

//** Page header border color
@page-header-border-color: @table-border-color;

//** Width of horizontal description list titles
@dl-horizontal-offset: @component-offset-horizontal;

//** Horizontal line color.
@hr-border: @table-border-color;
